In [ ]:
#list in python

SYNTAX= []
DATA TYPES 
USER:int,float,str,bool,None
INBUILT:list,set,tuple,dict

In [2]:
#simple declaration

ls=[]
type(ls)

list

In [3]:
#by costroctor

ls=list()
type(ls)

list

In [4]:
#all elements store in on list

ls=[1,2,3,4,5,'a','b',10.5,20.5,30.5]
ls

[1, 2, 3, 4, 5, 'a', 'b', 10.5, 20.5, 30.5]

In [6]:
#sliecing
ls=[[1,2,3,4,5],['a','b'],[10.5,20.5,30.5]]
ls

[[1, 2, 3, 4, 5], ['a', 'b'], [10.5, 20.5, 30.5]]

In [8]:
#name of variable[number of indexing][number of member]
ls[2][1]

20.5

In [8]:
ls[-2]

['a', 'b']

In [9]:
ls=[1,2,3,4,5,'a','b',10.5,20.5,30.5]
ls[-2]

20.5

In [15]:
ls=[1,2,3,4]
ls*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [19]:
#sliecing variable[start:end":steps]
ls[1:3]

[2, 3]

In [ ]:
#add new element is list
1)insert() #adding element in any position of list
2)extend() #adding element in last position of list
3)append() #adding list in last position of list

In [10]:
ls=[1,2,3,4]

In [13]:
#insert nqme of variable.(position,which add)
ls.insert(0,100)
ls

[100, 1, 100, 2, 3, 4, 100]

In [14]:
ls

[100, 1, 100, 2, 3, 4, 100]

In [26]:
#adding string
ls.insert(0,'abc')
ls

['abc', 'abc', 1, 2, 100, 100, 3, 4]

In [27]:
ls

['abc', 'abc', 1, 2, 100, 100, 3, 4]

In [28]:
#append

#adding additional list in list
ls.append([10,20,30])
ls

['abc', 'abc', 1, 2, 100, 100, 3, 4, [10, 20, 30]]

In [29]:
ls

['abc', 'abc', 1, 2, 100, 100, 3, 4, [10, 20, 30]]

In [15]:
#extend

#addding value by extend
ls.extend([1,2,3])

In [16]:
ls

[100, 1, 100, 2, 3, 4, 100, 1, 2, 3]

In [ ]:
ls=[1,2,3,4,5,6]
#1)remove()
#2)pop()
#3)del

In [2]:
#ls.remove(enter number which you want to delete)
ls=[1,2,3,4,5,6]
ls.remove(3)
ls

[1, 2, 4, 5, 6]

In [3]:
#pop only delete last value in list or given only index not number
ls

[1, 2, 4, 5, 6]

In [4]:
ls.pop()
#je element delete karyo hoy a return karashe

6

In [5]:
ls
#end of pop

[1, 2, 4, 5]

In [6]:
#pop with indexing
ls.pop(2)
ls
#delete index variable in given index......

[1, 2, 5]

In [7]:
#del is delete all list
del ls

In [8]:
ls=[1,2,3,4,5]
#noew given the index in del
del ls[1]

In [9]:
ls

[1, 3, 4, 5]

In [10]:
#copy string
ls1=[1,2,3,4,5,6]
new_ls1= ls1
new_ls1

[1, 2, 3, 4, 5, 6]

In [12]:
ls1=[1,2,3,4,5,6]
new_ls1= ls1 + [7,8]
new_ls1

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
ls2=ls1.copy()
ls2

[1, 2, 3, 4, 5, 6]

In [13]:
#clear all elements
ls2.clear()

In [14]:
ls2

[]

In [17]:
#sort numbers of list
ls=[1,4,6,8,5,2,10,15,11]
ls.sort()
ls

[1, 2, 4, 5, 6, 8, 10, 11, 15]

In [18]:
#in reverse number list in sort
ls

[1, 2, 4, 5, 6, 8, 10, 11, 15]

In [19]:
ls.sort(reverse=True)
ls

[15, 11, 10, 8, 6, 5, 4, 2, 1]

In [20]:
#membership 
10 in ls

True

In [21]:
#fpr string
s='python'
'n' in s

True

In [29]:
#decalare list in on line of code
[i for i in  range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
[i for i in  range(-10,0,1)]

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [20]:
#how to input the list from user
a=input('enter the list').split()
print(a)
type(a)

enter the list123456
['123456']

list

In [21]:
#change the input type
ls2=[]
for i in a:
    ls2.append(int(i))
print(ls2)
        
print(type(ls2))

[123456]
<class 'list'>

In [14]:
#remove the duplicate value
ls=[1,2,3,4,5,4,5,6,7,8,9,10,1,8,9]
ls2=[]
for i in ls:
    if i not in ls2:
        ls2.append(i)
print(ls2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
ls=[0,1,2,3,4,5,6,7,8,9,10]
ls[::2]

[0, 2, 4, 6, 8, 10]

In [2]:
ls=[1,2,3,4,5,6,7,8,9,10]
ls[::2]

[1, 3, 5, 7, 9]

In [3]:
ls=[1,2,3,4,5,4,5,6,7,8,9,10,1,8,9]
ls2=[]
for i in ls:
    if i not in ls2:
        ls2.append(i)
print(ls2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]