In [ ]:
#operation
#1.search a string(search and match)
#2.finding a string(findall)
#3.break string into a sub string (split)
#4.replace part of a string(sub)


#methods
#1.re.match()
#2.re.search()
#3.re.findall()
#4.re.split()
#5.re.sub()
#6.re.compile()

In [6]:
#example

import re
st='amit 34-6656 11-12-2012 manan 35-6656 12-01-2007 aakash 34-6546 11-08-2000'
re.findall('\d{2}-\d{2}-\d{4}',st)

['11-12-2012', '12-01-2007', '11-08-2000']

In [9]:
#1.  re.match(pattern,name_of_string):
        #if it occurs at start of the string(start a hoy to j aavashe)

string='tops technologies'
st='o'
r=re.match(st,string)
if r:
    print("match the \%s\'in \%s\'"%(st,string))
else:
    print(" not match the '\%s\ in \%s\'"%(st,string))

 not match the '\o\ in \tops technologies'

In [10]:
#2.  re.search(pattern,string):

#return a match object if there is a match anywhere in a string(game tya hoy aavashe hoy to j aavashe)

string='tops technologies'
st='o'
r=re.search(st,string)
if r:
    print("match the \%s\'in \%s\'"%(st,string))
else:
    print(" not match the \%s\'in \%s\'"%(st,string))

match the \o'in \tops technologies'

In [ ]:
"""
.span() returns a tuple containing the start and end possition of the match
.string() return the string passed into the function
.group() returns the part of the string where there was a match

"""

In [ ]:
#difference::

both return first match f a substring found in the string,but re.match()
search only in the first line of the string and reaturn match object if found,else return none

while re.search() searches for the wholestring even if the string contains multi-lines and tried to find 
a match of the substring in all the linesof sring

*search():  scan through whole string

*match():does only beginning of the string

In [2]:
#3. findall(pattern,name_of_string)
            #return a list containing all matches
            #if no matches are found,an empty list is returned
        
import re
sttrr="tops technologies"
r=re.findall(r'o',sttrr)#operation stored in the on variable r
print(r)

['o', 'o', 'o']

In [3]:
#or its return a list contains 
len(r)

3

In [5]:
#4. split(pattern,name_of_string,[maximumsplit=0])
                #return a list where the string has been split at each match
import re
string='tops technologies'
r=re.split(r'o',string,)#all the time of word o it split the string
print(r)

['t', 'ps techn', 'l', 'gies']

In [1]:
#or
import re
string='tops technologies'
r=re.split(r'o',string,1)#1 shoes it split the string in only one place
print(r)

['t', 'ps technologies']

In [7]:
#5. sub(pattern,repl,string)
        #replace one or many matches with a string

result=re.sub(r'India','the word','TT is largest training compony of India')#cahnge india with the word of the word
print(result)

TT is largest training compony of the word

In [8]:
#6.compile(pattern)

pattern=re.compile('T')
result=pattern.findall('TT is largest Training community of India')
print(result)

['T', 'T', 'T']

In [ ]:
#Matacharacters\\\\

#[] : a set of characters "[a-m]"

#\ :single a special sequence(can also be used to escspe special characters)

#. :any character(exept newline character)____"he..o

In [21]:
# ^ : start with "^hello"

import re
t="hello"
re.findall('^h',t)

['h']

In [11]:
# $ :ends with------"world$"
# * :zero or more occurrences---"ai*"

txt="the rain in spain"
re.findall('ai*',txt)

['ai', 'ai']

In [12]:
re.findall('in$',txt)

['in']

In [ ]:
#\d: matches with digits [0-9] and \D(upper case D) matches with non-digit

#\s: matches with a single white space character(space,newline,return,tab,form)
        #and \S(upper case S) matches any non-white space character.
    
#\A:return a match if the specified chararcter are at the biggining of the string----"\Athe"

#\Z:returns a match if the specified character are at the end of the string----"spain\Z"

#\b:returns a match where the specified character are at the biggining or at the end of a word---r"\bain"r"ain\b

#B :returns a match where the specified character are present,but not at the begining(or at the end) of a word----r"\Bain"r"ain\B"

#[] :a set is a set of charater inside a pair of square brackets [] with a special meaning

In [13]:
import re
txt="the rain 1234 5678 in spain"
re.findall(r'ain\b',txt)

['ain', 'ain']

In [14]:
re.findall(r'\bi',txt)

['i']

In [16]:
re.findall(r'\Athe',txt)

['the']

In [20]:
txt

'the rain 1234 5678 in spain'

In [18]:
#[arn]---returns a match where of the specifies character (a,r,or n) are present
x=re.findall("[arn]",txt)
print(x)http://localhost:8888/kernelspecs/python3/logo-64x64.png

['r', 'a', 'n', 'n', 'a', 'n']

In [19]:
x=re.findall("[a-e]",txt)
print(x)

['e', 'a', 'a']

In [22]:
#[^arn]---returns a match for any character EXEPT a,r or n
x=re.findall('[^arn]',txt)
print(x)

['t', 'h', 'e', ' ', 'i', ' ', '1', '2', '3', '4', ' ', '5', '6', '7', '8', ' ', 'i', ' ', 's', 'p', 'i']

In [ ]:
"""


[0123] : returns a match where any to the specified digit (0,1,2 or 3) are present----
[0-9] : returns a match for any digit between 0 and 9---
[0-5][0-9] : returns a match for any two-digit number from 00 and 59--
[a-zA-Z] : returns a match for any charecter alphabetically between a and z.lower case or uper case A to Z
[+] : in sets,+,=,.,|,(),$,{} has no special meaning, so [+] means:returns a match for any + caracter


"""

In [5]:
"""home work"""
#problm 1:return the first word of a given string

import re
s="myname_issmitpatel"
r=re.findall(r'\b\w{1}',s)
print(r)

['m']

In [4]:
#problm 2:return the two word of a given string

import re
s="myname_issmitpatel"
r=re.findall(r'\b\w{2}',s)
print(r)

['my']

In [8]:
#problem 3:return all words of a strinng thosw start with vowel

import re
s="the man is in market"
r=re.findall(r'\b[^AEIOUaeiou]\w',s)
print(r)

['th', ' m', ' i', ' i', ' m']

In [9]:
#problem 4:find valid number
import re
s='9785462521 1452369874 8785868452 7778036433 8128625226 9429722265'
r=re.findall(r'[8-9]\d{9}',s)
print(r)

['9785462521', '8785868452', '8128625226', '9429722265']