In [1]:
#unordered nd unindexed

s=set()
type(s)

set

In [2]:
#symbol same as a dict
s={1,2,3,4}
type(s)

set

In [3]:
#consider all type of vlue
s={1,2,3,1.5,'s'}
s

{1, 1.5, 2, 3, 's'}

In [5]:
#only show uniq value delete duplicate value automaticly
s={1,2,1,23,4,5,65,5,6,2,1}
s

{1, 2, 4, 5, 6, 23, 65}

In [6]:
#delete duplicate value
s=set([1,2,3,5,5,4,3,2,1,6,7,8,6,7,8])
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
#adding value in set
#1)add()
#2)update()
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
#only add one value at a time
s.add(100)
s

{1, 2, 3, 4, 5, 6, 7, 8, 100}

In [10]:
#update addding multiple value at a time in set
s.update([110,200,300])
s

{1, 2, 3, 4, 5, 6, 7, 8, 100, 110, 200, 300}

In [11]:
#set have a no index value
s[0]

TypeError: 'set' object does not support indexing

In [13]:
for i in s:
    print(i)

1
2
3
4
5
6
7
8
100
200
300
110

In [15]:
#for delete value in set
#1)discard()
#2)remove()
#3)pop()
#4)del
#5)clear()

#1)
s.discard(1)
s

{2, 3, 4, 5, 6, 7, 8, 100, 110, 200, 300}

In [21]:
s

{5, 6, 7, 8, 100, 110, 200, 300}

In [22]:
#2)
s.remove(5)
s

{6, 7, 8, 100, 110, 200, 300}

In [18]:
#3)delete random value in set
s.pop()

4

In [30]:
#4)clear only vALUE in set
s={1,2,3}
s.clear() 
s

set()

In [1]:
#5)del delete the all value in memory
del(s)

NameError: name 's' is not defined

In [1]:
#symmetric_diffetrence
"""je same hoy a na print thay baki badha print hay"""
a={1,2,3,4,5}
b={4,5,6,7,8}

#use ^ operator
#output:{1,2,3,6,7,8}
print(a^b)

{1, 2, 3, 6, 7, 8}

In [2]:
#differenece()
"""je same hoy a print na thay je [print karayu ama thi]"""
a={1,2,3,4,5}
b={4,5,6,7,8}

#use ^ operator
print(a-b)

{1, 2, 3}

In [3]:
a={1,2,3,4,5}
b={4,5,6,7,8}

#use ^ operator
print(b-a)#b na print thy je common na hoy a

{8, 6, 7}

In [5]:
#intersection()
a={'apple','banna','cherry'}
b={'google','apple','microsoft'}
a&b

{'apple'}

In [7]:
#union()
a={1,2,3,4,5}
b={4,5,6,7,8}
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [1]:
s={1,2,3}
type(s)

set

In [11]:
s=set([1,2,3,'a'])
type(s)

set