In [1]:
#difine tuple
t=()

In [2]:
t=(1,2,3,7,8,9)
type(t)

tuple

In [15]:
#tuple not take one value
t=(1)
print(type(t))


s=(1,)
type(s)

<class 'int'>

tuple

In [7]:
t=(1,2,3,'a','b')
t

(1, 2, 3, 'a', 'b')

In [8]:
t=tuple()
type(t)

tuple

In [12]:
s=(1,2,3,4,5,6)
s[2:5]#slicing

(3, 4, 5)

In [16]:
#jo tuple ma list lagao to a change thai sake.............
s=(1,2,3,4,[1,2,3],5,6)

In [18]:
s[4]

[1, 2, 3]

In [19]:
s[4][2]=100
s
#value change

(1, 2, 3, 4, [1, 2, 100], 5, 6)

In [20]:
#packing(automatic packing lae leshe....)
t=1,2,3,4
t

(1, 2, 3, 4)

In [21]:
#unpacking(alag alag value lae le.....)
a,b,c,d = t
print(a,'\t',b,'\t',c,'\t',d,'\t')

1 	 2 	 3 	 4

In [22]:
#concate 
t=(1,2,3)
tt=(4,5,6)
t+tt

(1, 2, 3, 4, 5, 6)

In [23]:
#tuple me only del j thay
del t

In [26]:
#index
t=(1,2,3)
t.index(2)

1

In [27]:
#member of t tuple
len(t)

3

In [28]:
min(t)

1

In [29]:
max(t)

3